<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umeng.libs">

    <application>
        <activity
            android:name=".share.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--tencent qq app id, to be modified.-->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <!--umeng key, to be modified.-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b5178008f4a9d17f40000b5"></meta-data>

    </application>


</manifest>
